body {
    margin: 0;
    height: 100vh;
    
}

centre {
    display: inline;
    position: fixed;
    z-index: 1000;
}

canvas {
    display: inline;
    position: fixed;
    z-index: 1000;
}

#webcamPlaceholder {
    width: 800px;
    height: 450px;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

p {
    position: absolute;
    top: 480px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

#loadingText {
    position: absolute;
    top: 220px;
    left: 150px;
}

#LoadingScreen {
    background-color: #e5e5e5;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 480px;
    width: 640px;
}

form {
    position: absolute;
    top: 20px;
    left: 660px;
    z-index: 10000000000;
}

input {
    margin-top: 15px;
}

button {
    margin-top: 20px;
    width: 150px;
    height: 30px;
}
#chartLegend {
    background-color: black;
    opacity: 0.4;
    border-radius: 20px;
    padding: 50px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-left: 40px;
    position: absolute;
    left: 225px;
    top: 50px;
    height: 255px !important;
    width: 340px !important;
    visibility: hidden;
}

#alphaSlider {
    position: absolute;
    top: 492px;
    left: 240px;
}
#alphaText {
    position: absolute;
    top: 485px;
    left: 240px;
    font-size: 10px;
}

#graphInput {
    position: absolute;
    left: 650px;
    top: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    display: inline-block;
}

#input {
    display: block;
}

#sectionTitle {
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#downloadLink {
    position: absolute;
    top: 496px;
    left: 440px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}

#successMessage {
    position: absolute;
    top: 412px;
    left: 740px;
    font-size: small;
    visibility: hidden;
}

#instructions {
    position: absolute;
    top: 540px;
    left: 5px;
    width:550px;
}

#drawing {
    position: absolute;
    z-index: 10000000000000;
    width: 640px;
    height: 480px;
    background-color: red;
}